<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt"
      >
  <variable name="layout1" value="${newline}${longdate}|${uppercase:${level}}| ${newline} ${message} ${exception}" />

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="logs/system/log_system${date:format=yyyyMMdd-HH}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}| ${newline}  ${message} ${exception}${basedir}" />

    <target xsi:type="File" name="info-web" fileName="logs/info/log_info.txt"
             layout="${layout1}" encoding="utf-8"  archiveNumbering="Date" 
        archiveEvery="Hour"  archiveDateFormat="yyyyMMdd-HHmm"/>
    
    <target xsi:type="File" name="error-web" fileName="logs/error/log_error.log"
              layout="${layout1}"  encoding="utf-8" archiveNumbering="Date"
             archiveEvery="Hour"  archiveDateFormat="yyyyMMdd-HHmm" />
    
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="info-web" />
    <logger name="*" minlevel="Error" writeTo="error-web" />
  </rules>

</nlog>
